@charset "utf-8";
.alertageral {
}
* {
	margin:0;
	padding:0;
}
div#conteudo_principal{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

div#banner{
	width: 1200px;
	height: 102px;
	background: url(../imagem/banner.png) no-repeat;
	float: left;
	position: absolute;
}
div#centro{
	width: 705px;
	height: 331px;
	background: url(../imagem/centro.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -270px;
}
